[submodule "Components/Ps"]
	path = Components/Ps
	url = git://github.com/martijnlaan/Ps.git
[submodule "Components/UniPs"]
	path = Components/UniPs
	url = git://github.com/remobjects/pascalscript.git
