WINDOWS11_DARK VCLSTYLE Setup.style.Windows11Dark.vsf
WINDOWS11_LIGHT VCLSTYLE Setup.style.Windows11Light.vsf
POLAR_LIGHT VCLSTYLE Setup.style.PolarLight.vsf
POLAR_DARK VCLSTYLE Setup.style.PolarDark.vsf
SLATECLASSICO VCLSTYLE Setup.style.SlateClassico.vsf
ZIRCON VCLSTYLE Setup.style.Zircon.vsf